/* The default website size. */
.page-wrapper,
#header,
#main-navigation-h,
#welcome-text,
#highlighted,
#top-container,
#page-title,
#main,
#bottom-container,
#footer-container,
#footer-menu,
#copyright {
  width: 100%!important;
  clear: both!important;
}
.header-inner,
.main-navigation-inner-h,
.welcome-text-inner,
.highlighted-inner,
.top-container-inner,
.page-title-inner,
.main-container-inner,
.bottom-container-inner,
.footer-container-inner,
.footer-menu-inner,
.copyright-inner {
  max-width: 1600px;
  margin: 0 auto!important;
}
.top-container-inner .top-region,
.main-container-inner .main-region,
.bottom-container-inner .bottom-region,
.footer-container-inner .footer-region {
  float: left;
}
.top-container-inner .top-region > div,
.main-container .main-region > div,
.bottom-container-inner .bottom-region > div,
.footer-container-inner .footer-region > div {
  height: 100%;
  float: left;
  width: 100%;
  padding: 12px;
}
.w3-width-100-percent {
  max-width: 100%!important;
}
.w3-width-2560 {
  max-width: 2560px!important;
}
.w3-width-1920 {
  max-width: 1920px!important;
}
.w3-width-1600 {
  max-width: 1600px!important;
}
.w3-width-1360 {
  max-width: 1360px!important;
}
.w3-width-1280 {
  max-width: 1280px!important;
}
.w3-width-1024 {
  max-width: 1024px!important;
}
.w3-width-800 {
  max-width: 800px!important;
}
/* Samll Screen Only */
@media (max-width:600px) {

  .top-container-inner .top-region > div,
  .main-container-inner .main-region > div,
  .bottom-container-inner .bottom-region > div,
  .footer-container-inner .footer-region > div {
    padding: 8px;
}
}
/* Medium Screen Only */
@media (max-width:992px) and (min-width:601px) {
  .top-container-inner .top-region > div,
  .main-container-inner .main-region > div,
  .bottom-container-inner .bottom-region > div,
  .footer-container-inner .footer-region > div {
    padding: 10px;
}
}
/* Large Screen Only */
@media (min-width:993px) {
  /* for the main menu  */
  .main-navigation-inner-h li.w3-menu-main__item--expanded:hover ul.w3-menu-0-main__submenu {
    display: block;
}
  #main-menu > li {
    display: inline-block;
    justify-content: center;
    width: auto;
    clear: none;
}
  .top-container-inner .top-region,
  .bottom-container-inner .bottom-region,
  .footer-container-inner .footer-region {
    margin: 15px 0;
}
  .top-container-inner .top-region > div,
  .main-container-inner .main-region > div,
  .bottom-container-inner .bottom-region > div,
  .footer-container-inner .footer-region > div {
    padding: 12px;
}
}
/*  Small and Medium Screen Only*/
@media (max-width:992px) {
  .top-container-inner .first-top,
  .top-container-inner .second-top,
  .top-container-inner .third-top,
  .main-container-inner .first-sidebar,
  .main-container-inner .w3css-content,
  .main-container-inner .second-sidebar,
  .bottom-container-inner .first-bottom,
  .bottom-container-inner .second-bottom,
  .bottom-container-inner .third-bottom,
  .bottom-container-inner .forth-bottom,
  .footer-container-inner .first-footer,
  .footer-container-inner .second-footer,
  .footer-container-inner .third-footer {
    width: 100%;
}
  .page-node-type-article .node .field--type-image {
    float: none;
    margin: 0 auto;
}
  .page-node-type-article .field--type-text,
  .page-node-type-article .field--type-text-with-summary {
    display: block!important;
    clear: both;
}
  #main-menu {
    display: none;
}
  ul.w3-menu-0-main__submenu {
    position: relative!important;
}
}
