/* Global settings */
h1,
h2,
h3 {
  font-weight: bold;
}
a:hover {
  opacity: 0.60;
}
a.d8-has-image {
  overflow: hidden;
  display: inline-block;
  height: 100%;
}
a.d8-has-image:hover,
#main-menu a:hover,
.w3-button:hover a {
  opacity: 1;
}
a:hover > img {
  animation: animateimg 5s;
}
@keyframes animateimg {
  from {
    transform: scale(1);
}
  to {
    transform: scale(1.1);
}
}
/* The region colors */
.page-wrapper {
  font-family: 'Roboto Condensed', sans-serif;
		font-size: 18px;
		line-height: 1.5;
    background-color: transparent;
		background-image: url("fona_back.jpg"); 
		background-size: cover;
		background-repeat: no-repeat;
}
#header {
  background-color: #bebebe;
}
.main-navigation-wrapper,
.close-nav,
.mobile-nav {
  background-color: #222;
  color: #efefef;
}
#welcome-text {
  background-color: white;
  color: #3a3a3a;
}
#highlighted {
  background-color: #efefef;
  color: #3a3a3a;
}
#top-container {
  background-color: #e4e4e4;
}
#top-container .first-top > div {
  background-color: #ededed;
  color: #3a3a3a;
}
#top-container .second-top > div {
  background-color: #ddd;
  color: #3a3a3a;
}
#top-container .third-top > div {
  background-color: #ededed;
  color: #3a3a3a;
}
#page-title {
  background-color: #4e4e4e;
  color: #efefef;
}
#main-container {
  background-color: #f8f8f8;
  color: #3a3a3a;
}
#bottom-container {
  background-color: #4d4d4d;
}
#bottom-container .first-bottom > div {
  background-color: #636363;
  color: #efefef;
}
#bottom-container .second-bottom > div {
  background-color: #525252;
  color: #efefef;
}
#bottom-container .third-bottom > div {
  background-color: #525252;
  color: #efefef;
}
#bottom-container .forth-bottom > div {
  background-color: #636363;
  color: #efefef;
}
#footer-container {
  background-color: #3a3a3a;
}
#footer-container .first-footer > div {
  background-color: #494949;
  color: #9f9f9f;
}
#footer-container .second-footer > div {
  background-color: #313131;
  color: #bebebe;
}
#footer-container .third-footer > div {
  background-color: #494949;
  color: #9f9f9f;
}
#footer-menu {
  background-color: #1e1e1e;
  color: #bebebe;
}
#copyright {
  background-color: #141414;
  color: #bebebe;
}
/*  ul links and tags */
.field--name-field-tags .field__item,
ul.links li {
  border: none!important;
  padding: 0!important;
}
.field--name-field-tags .field__item a,
ul.links li a {
  border: none;
  padding: 7px 14px!important;
  float: left;
}
.node__content ul.links {
  float: left;
}
.field--name-field-tags .field__item a {
  font-size: 13px;
}
.site-name a,
.site-slogan {
  text-transform: uppercase;
}
.site-logo img {
  height: 90px;
  width: 110px;
}
