{#
/**
 * site-builder page template.
 * Generated on: Mon, 14 Dec 15 10:18:17 +1300
 */
#}
{{ attach_library }}
{{ attach_library('multipurpose_corporate_theme/multipurpose_corporate_theme.layout.page') }}

<div id="page-wrapper">
    <div id="page" class="container">
        {% if page.leaderboard %}
            {{ page.leaderboard }}
        {% endif %}
        <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t }} ">
            <div class="section layout-container clearfix">
                {{ page.header }}
            </div>
        </header>
        {% if page.menu_bar %}
            <div class="menu_bar">
                <div class="layout-container section clearfix" role="complementary">
                    {{ page.menu_bar  }}
                </div>
            </div>
        {% endif %}
        {% if page.secondary_content %}
            <div class="region-secondary-content">
                <div class="region-inner clearfix">
                    <div class="section" role="complementary">
                        {{ page.secondary_content }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="columns" class="columns clearfix">
            <main id="content-column" class="content-column" role="main">
                <div class="content-inner">
                    {% if page.highlighted %}
                        <div class="highlighted">
                            <div class="layout-container section clearfix" role="complementary">
                                {{ page.highlighted }}
                            </div>
                        </div>
                    {% endif %}
                    <section id="main-content" class="contextual-links-region">
                        <div id="content" class="region">
                            {{ page.content }}
                        </div>
                    </section>
                </div>
            </main>
            {% if page.sidebar_first %}
                <div class="region-sidebar-first sidebar">
                    <div class="region-inner clearfix">
                        <aside class="section" role="complementary">
                            {{ page.sidebar_first }}
                        </aside>
                    </div>
                </div>
            {% endif %}
            {% if page.sidebar_second %}
                <div class="region-sidebar-second sidebar">
                    <div class="region-inner clearfix">
                        <aside class="section" role="complementary">
                            {{ page.sidebar_second }}
                        </aside>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if page.tertiary %}
            <div class="region region-tertiary-content">
                <div class="region-inner clearfix">
                    {{ page.tertiary }}
                </div>
            </div>
        {% endif %}
        {% if page.footer %}
        <footer class="site-footer">
            <div class="copyright">
                <div class="copyright-container">
                    Copyright ©&nbsp; {{'now'|date('Y')}} Themes by
                    <a href="http://adcisolutions.com/" title="drupal development">ADCI solutions</a>.
                    All Rights Reserved.
                </div>
            </div>
            <div class="region region-footer">
                <div class="region-inner clearfix">
                    {{ page.footer }}
                </div>
            </div>
        </footer>
        {% endif %}
    </div>
</div>