/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/**
 * Comments
 *  - comment field (holds comment title, form, comments etc)
 *  - styles for comments
 ============================================================================ */
.comment {
  padding-top: 16px;
  padding-top: 1rem;
  border-top: 1px solid;
}
.comment:before, .comment:after {
  content: " ";
  display: table;
}
.comment:after {
  clear: both;
}
.comment p:last-of-type {
  margin-bottom: 0;
}
.comment__meta {
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  overflow: hidden;
}
.comment.has-title .comment__meta {
  margin: 16px 0;
  margin: 1rem 0;
}
.comment__meta .comment__author:after {
  content: "-";
  display: inline-block;
}
.comment__meta--has-user-picture .comment__author:after {
  display: none;
}
.comment__meta--has-user-picture .comment__author,
.comment__meta--has-user-picture .comment__pubdate {
  margin: 0;
  display: block;
}
@media all and (max-width: 60em) {
  .comment__meta .comment__author:after {
    display: none;
  }
  .comment__meta .comment__author,
  .comment__meta .comment__pubdate {
    margin: 0;
    display: block;
  }
}
.comment__meta .field-type-image {
  float: left;
  margin: 0 11px 0 0;
  margin: 0 0.6875rem 0 0;
}
.comment__meta .field-type-image img {
  width: auto;
  height: 48px;
  height: 3rem;
}
.comment__meta .field-type-image__figure {
  margin: 0;
  padding: 0;
}
.comment__meta article:empty {
  display: none;
}
.comment.preview {
  padding: 16px;
  padding: 1rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}
.comment__links {
  clear: both;
}
.comment__links:before, .comment__links:after {
  content: " ";
  display: table;
}
.comment__links:after {
  clear: both;
}
@media all and (max-width: 60em) {
  .comment__links .inline {
    float: none;
    display: block;
  }
  .comment__links .inline li {
    display: list-item;
  }
}
@media all and (min-width: 60.063em) {
  .comment__links .inline {
    float: left;
  }
  .comment__links .inline li {
    margin: 0 0 0 16px;
  }
  [dir="rtl"] .comment__links .inline li {
    margin: 0 16px 0 0;
  }
}

.field-type-comment {
  margin: 18px 0 0;
  margin: 1.125rem 0 0;
  clear: both;
}
.field-type-comment:before, .field-type-comment:after {
  content: " ";
  display: table;
}
.field-type-comment:after {
  clear: both;
}
.field-type-comment .indented {
  margin-left: 42px;
  margin-left: 2.625rem;
}
/*# sourceMappingURL=maps/comments.css.map */