{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0, menu_name) }}

{% macro menu_links(items, attributes, menu_level, menu_name) %}
  {% import _self as menus %}

  {%
    set menu_classes = [
      'w3-ul',
      'w3-bar',
      'w3-mobile',
      'w3-menu-' ~ menu_name|clean_class,
    ]
  %}
  {%
    set submenu_classes = [
      'w3-ul',
      'w3-menu-0-' ~ menu_name|clean_class ~ '__submenu w3-mobile w3-dropdown-content w3-card-2 w3-animate-bottom',
    ]
  %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul {{ attributes.addClass(menu_classes) }}>
    {% else %}
      <ul{{ attributes.removeClass(menu_classes).addClass(submenu_classes) }}>
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          'w3-bar-item',
          'w3-mobile',
          'w3-padding-0',
          'w3-menu-' ~ menu_name|clean_class ~ '__item',
          item.is_expanded ? 'w3-menu-' ~ menu_name|clean_class ~ '__item--expanded',
          item.is_collapsed ? 'w3-menu-' ~ menu_name|clean_class ~ '__item--collapsed',
          item.in_active_trail ? 'w3-menu-' ~ menu_name|clean_class ~ '__item--active-trail',
        ]
      %}
      {%
        set link_classes = [
          'w3-menu-' ~ menu_name|clean_class ~ '__link w3-bar w3-button',
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {{
          link(
            item.title,
            item.url,
            item.attributes.removeClass(item_classes).addClass(link_classes)
          )
        }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1, menu_name) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
