/*----- =Slice BEGIN -----*/

@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(animate.css);
@import url(grid.css);


/* =Common styles BEGIN */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.view-content:before,
.views-row:before,
#header:before,
.main-slider-content-wrapper:before,
#primary-menu-bar:before,
#menu-bar:before,
.region:before {
  display: table;
  content: " ";
}
.view-content:after,
.views-row:after,
#header:after,
#primary-menu-bar:after,
#menu-bar:after,
.region:after {
  display: table;
  content: " ";
  clear: both;
}
a,
input,
textarea,
.owl-buttons div,
.owl-page,
.owl-page span,
.view-secondary-slider .owl-buttons div:before,
.block__content a:before,
.portfolio-image a:before {
  transition: all 0.3s ease;
}
.contextual-links-wrapper a {
  transition: none;
}
html,
body {
  height: auto;
}
html {
  background: #fff;
}
body {
  overflow: hidden;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  color: #606060;
  font-size: 14px;
  line-height: 1.375;
}
img,
input,
textarea {
  max-width: 100%;
}
textarea {
  min-height: 110px;
}
img {
  max-height: 100%;
}
.block-colorized-gmap img {
  max-height: none;
  max-width: none;
}
p:last-child {
  margin-bottom: 0;
}
h1, .h1, h2, h3, h4, h5, h6,
h1 a, .h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.views-field-title, .views-field-title a,
.node-title, .node-title a , strong a.site-branding__name-link {
  line-height: 1.2;
  color: #000;
  margin: 0 0 10px;
}
h1, .h1, h2, h3, h4, h5, h6,
h1 a, .h1 a, h2 a, h3 a, h4 a,
.views-field-title, .views-field-title a,
.node-title, .node-title a,
strong a.site-branding__name-link{
  font-weight: 700;
}
h1 a:hover, .h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
.views-field-title a:hover,
.node-title a:hover,
strong a.site-branding__name-link:hover {
  color: #3f9ae8;
  text-decoration: none;
}
h1, .h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}
body.path-frontpage h2,
.block__title {
  font-size: 32px;
  font-family: 'Roboto Condensed', sans-serif;
}
a {
  text-decoration: none;
  color: #3f9ae8;
}
a:hover {
  text-decoration: underline;
}
pre.code,
code {
  color: #606060;
  font-family: 'Courier New', monospace;
}
pre.code {
  background-color: #e8e8e8;
  padding: 10px;
  border-left: 10px solid #1ec97b;
}
mark {
  display: inline-block;
  padding: 1px;
  background: #1ec97b;
  color: #fff;
}
blockquote {
  position: relative;
  margin: 0;
  padding-left: 60px;
  min-height: 40px;
}
blockquote:before {
  font-family: 'FontAwesome';
  line-height: 1;
  font-size: 36px;
  content: '\f10d';
  color: #c6c6c6;
  position: absolute;
  left: 0;
  top: 5px;
}
#content ul,
.sidebar ul,
#content ul li,
.sidebar ul li,
#columns ul li.leaf,
#columns ul li.collapsed,
#block-system-user-menu .menu,
#block-system-user-menu .menu li {
  margin: 0;
  padding: 0;
}
#content ol,
.sidebar ol {
  padding-left: 25px;
}
#content ol li,
.sidebar ol li,
#columns ol li.leaf,
#columns ol li.collapsed {
  padding-left: 5px;
}
#content ul,
.sidebar ul,
#content ul li,
.sidebar ul li,
#columns ul li.leaf,
#columns ul li.collapsed,
#block-system-user-menu .menu,
#block-system-user-menu .menu li {
  list-style: none;
}
#columns ul,
#columns ol,
#block-system-user-menu .menu {
  margin: 15px 0;
}
#content ul li,
.sidebar ul li,
#columns ul li.leaf,
#columns ul li.collapsed {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
}
#columns ul li:before,
.sidebar ul li:before {
  font-family: 'FontAwesome';
  content: '\f0da';
  color: #606060;
  padding-right: 5px;
}
#content ul.inline li {
  display: inline;
}
.menu li,
.item-list ul li,
.links li,
.menu li.leaf,
.menu li.collapsed {
  padding-left: 0;
  margin-left: 0;
}
#columns .menu li:before,
#columns .pager__items li:before,
#columns .links li:before,
#columns .contextual-links-wrapper li:before,
#columns .tabs li:before,
#page .field-name-field-portfolio-terms ul li:before {
  content: none;
}
#content nav.tabs ul{
  width: 100%;
  border-bottom: 1px solid #bbb;
  border-collapse: collapse;
  height: auto;
  line-height: normal;
  list-style: none;
  margin: 5px;
  padding: 0 0 0 1em;
  white-space: nowrap;
}
#content nav.tabs ul li{
  display: inline;
  padding-left: 0;
}
#content nav.tabs ul li a{
  background-color: #ddd;
  border-color: #bbb;
  border-style: solid solid none solid;
  border-width: 1px;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}
#content nav.tabs ul li.tabs__tab--is-active a{
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
}
#page .contextual-links,
#page .contextual-links li {
  margin: 0;
}
#page .contextual-links {
  padding: 0.25em 0;
}
#page .contextual-links li {
  padding: 0;
}
.links a:hover,
.node-author a:hover {
  text-decoration: underline;
}
#content p {
  margin-top: 0;
  margin-bottom: 10px;
}
.grippie {
  display: none !important;
}
#block-multipurpose-corporate-theme-branding,
.region-inner,

body.path-frontpage .view-content,
body.path-frontpage .block__title,
div.region.header, .block__title,
.view-header,
.copyright-container,
.views-field-nothing,
#columns,#block-multipurpose-corporate-theme-main-menu,
#menu-bar nav,
#primary-menu-bar nav,
#secondary-menu-bar {
  max-width: 1180px;
  padding: 0 10px;
  margin-right: auto;
  margin-left: auto;
}
body.path-frontpage #columns {
  max-width: none;
  padding: 0;
}
body.path-frontpage .view-content .view-content {
  padding-left: 0;
  padding-right: 0;
}
.sidebar .region-inner,
.path-node #columns .content-inner,
.path-portfolio #columns .content-inner{
  padding: 0 10px;
}

#main-content {
  margin: 0;
}
#page.container {
  max-width: none;
}
.block__title,
.field-label-above .field-label {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2;
  margin-top: 0;
}
body.path-frontpage .block__title {
  text-align: center;
}
.path-frontpage .view-header {
  color: #606060;
  text-align: center;
  max-width: 400px;
  margin-bottom: 40px;
}
.views-field-title a,
.section-tags .node-title a {
  color: #000;
  text-decoration: none;
}
.views-field-title a:hover,
.section-tags .node-title a:hover {
  color: #3f9ae8;
}
#page-wrapper table p {
  margin: 0;
}
#page-wrapper table,
#page-wrapper table .views-field-title {
  color: #606060;
}
#page-wrapper table {
  margin-bottom: 60px;
  width: 100%;
  border: none;
}
.html #page-wrapper table th {
  font-weight: 400;
  color: #000;
}
th, td {
  border: 1px solid #c6c6c6;
  padding: 10px;
}
th {
  padding-top: 15px;
  padding-bottom: 15px
}
tr,
tr.even, 
tr.odd {
  padding: 0;
  border: none;
}
tr.even {
  background-color: #fff;
}
tr.odd {
  background-color: #e8e8e8;
}
table.ver-1 td,
table.ver-1 th {
  border: none;
}
table.ver-1 tr {
  border-bottom: 1px solid #c6c6c6;
}
.form-item {
  margin: 0 0 20px;
}
.container-inline .form-item {
  display: inline-block;
}
input,
textarea {
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  box-sizing: border-box !important;
}
input {
  padding: 0 5px;
  height: 32px;
}
textarea {
  resize: vertical;
  padding: 5px;
}
label {
  font-weight: 400;
  margin-bottom: 3px;
}
nav.pager{
  text-align: right;
  padding-top: 50px;
}
.pager__items .pager__item li,
.view-portfolio-terms a {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0;
}
.view-portfolio-terms a {
  margin-right: 7px;
}
#page .pager__items li.pager__item {
  padding-left: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
#page .pager__items ol, ul{
  display: inline-block;
}
#page .field-name-field-portfolio-terms ul,
#page .field-name-field-portfolio-terms ul li {
  list-style: none;
}
#page .field-name-field-portfolio-terms ul li {
  margin: 0;
  padding: 0 0;
}
#page .pager__items .pager li:last-of-type {
  margin-right: 0;
}
#page .pager__items .pager__item a,
#page .pager__items .pager__item .is-active,
#page .view-portfolio-terms a {
  display: inline-block;
  padding: 5px 10px;
  color: #606060;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  text-decoration: none;
}
#page .pager .pager__item .pager__link--is-active,
#page .view-portfolio-terms a.active,
#page .pager .pager__item a:hover,
#page .view-portfolio-terms a:hover {
  background: #3f9ae8;
  border-color: #3f9ae8;
  color: #fff;
}
#page .item-list .pager .pager-current {
  cursor: default;
  font-weight: 400;
}
.region-secondary-content {
  background: url(images/bg-page-title.png) no-repeat 50% 50%;
  background-size: cover;
}
#block-multipurpose-corporate-theme-page-title {
  padding: 30px 80px;
}
#block-multipurpose-corporate-theme-page-title .page__title {
  display: inline-block;
  padding: 15px 30px;
  background-color: #1ec97b;
  color: #fff;
}
.sidebar .block {
  margin-bottom: 30px;
}
/* Info items */
.views-field-created,
.views-field-disqus-comment-count,
.views-field-disqus-comment-count a,
.data,
.comments,
.comments a,
.node__pubdate,
.node__author {
  display: inline-block;
}
.views-field-created,
.views-field-disqus-comment-count,
.data,
.comments,
.node__pubdate,
#page-wrapper .node__author {
  margin-bottom: 20px;
}
.views-field-created,
.data,
.comments,
.node__pubdate,
.node__author,
.views-field-disqus-comment-count a {
  padding-left: 23px;
}
.views-field-created,
.views-field-disqus-comment-count a,
.data,
.comments,
.comments a,
.datetime,
.node__pubdate,
.node__author,
.node__author a {
  font-size: 12px;
  line-height: 20px;
  color: #a6a6a6;
  position: relative;
  text-decoration: none;
}
.comment__links ul.links li {
  display: inline-block;
}
.views-field-comment-count {
  display: inline-block;
}
.node__author a:hover {
  color: #3f9ae8;
}
.views-field-disqus-comment-count a:hover,
.comments a:hover {
  color: #3f9ae8;
}
.views-field-created,
.data,
.node__pubdate,
.node__author {
  margin-right: 25px;
}
.views-field-created:before,
.view-recent-news .views-field-disqus-comment-count a:before,
.data:before,
.comments:before,
.node__pubdate:before,
.node__author:before {
  font-size: 18px;
  line-height: 1;
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
}
.views-field-created:before,
.data:before,
.node__pubdate:before {
  content: '\f133';
}
.view-recent-news .views-field-disqus-comment-count a:before,
.comments:before {
  content: '\f0e5';
}
.node__author:before {
  content: '\f007';
}
#tasks {
  margin-bottom: 15px;
}
body.path-node h1.node__title{
  display:none;
}

/* Buttons */
.btn,
input[type="submit"],
.view-footer a,
.views-field-nothing a{
  display: inline-block;
  text-transform: capitalize;
  height: 42px;
  padding: 9px 30px;
  background: #1ec97b;
  border: 1px solid #1aab69;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.45);
}
.btn:hover {
  text-decoration: none;
}
.btn + .btn,
input[type="submit"] + input[type="submit"] {
  margin-left: 20px;
}
#page input[type="submit"] {
  padding: 8px 20px;
}
.btn:hover,
input[type="submit"]:hover {
  background-color: #11a360;
}
.block-superfish select,
#primary-menu-bar select,
#menu-bar select {
  display: none;
}
.node-readmore a,
.comment-comments a,
.comment-add a {
  position: relative;
}
.node-readmore a,
.comment-comments a,
.comment-add a {
  color: #a6a6a6;
}
.node-readmore a:hover,
.comment-comments a:hover,
.comment-add a:hover {
  color: #3f9ae8;
  text-decoration: none;
}
.node-readmore a:before,
.comment-comments a:before,
.comment-add a:before {
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
}
.node-readmore a {
  padding-left: 13px;
}
.node-readmore a:before {
  content: '\f101';
}
.comment-comments a {
  padding-left: 19px;
}
.comment-comments a:before {
  content: '\f0e5';
}
.comment-add a {
  padding-left: 17px;
}
.comment-add a:before {
  content: '\f055';
}
/* Share buttons */
.a2a_kit a {
  margin-bottom: 8px;
}
ul.primary {
  white-space: normal;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  opacity: 1;
}
/* =Common styles END */

/* Drupal standart blocks BEGIN */
#columns {
  padding: 40px 0;
}
body.path-frontpage #columns {
  padding: 0;
}
#logo, .site-branding__logo-link,
.site-branding__text,
#name-and-slogan {
  float: left;
}
.site-branding__name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
#block-system-user-menu {
  float: right;
}
.feed-icon {
  display: inline-block;
  margin: 15px 5px;
}
#block-node-recent table {
  margin-bottom: 20px;
}
#block-node-recent tr.odd,
#block-node-recent tr.even {
  background: none;
}
#block-node-recent th,
#block-node-recent td,
#block-node-recent tbody {
  border: none;
}
.search-block-form__form > *{
  display: inline-block;
}
.block-search .form-item {
  margin-bottom: 10px;
  width: 60%;
}
.node-article {
  margin-bottom: 20px;
}
#block-system-powered-by {
  padding: 30px 0;
}
#comments,
.comment-form {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #c6c6c6;
}
.comment-form + .comment-form {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.comment {
  margin-bottom: 40px;
}
#comments .form-text,
#comments .form-textarea {
  width: 100%;
}
#block-multipurpose-corporate-theme-main-menu{
  text-align: right;
}
#primary-menu-bar,
#menu-bar,
#primary-menu-bar .menu,
#menu-bar .menu,
#block-multipurpose-corporate-theme-main-menu{
  background: #fff;
}
#primary-menu-bar .menu .menu,
#menu-bar .menu  .menu {
  display: none;
}
#primary-menu-bar .menu .menu .menu,
#menu-bar .menu .menu .menu,
#block-multipurpose-corporate-theme-main-menu .menu{
  padding: 0 !important;
}
#primary-menu-bar li:hover > .menu,
#menu-bar li:hover > .menu,
#block-multipurpose-corporate-theme-main-menu li:hover {
  display: block;
}
#primary-menu-bar nav > .menu,
#menu-bar nav > .menu,
#block-multipurpose-corporate-theme-main-menu .menu{
  float: right;
  margin: -15px 0px 0px 0px;
}
#page #menu-bar {
  z-index: 101;
}
#primary-menu-bar > nav > .menu > li,
#menu-bar .menu-depth-1,
#block-multipurpose-corporate-theme-main-menu li{
  float: left;
}
#primary-menu-bar > nav > .menu > li > a,
#menu-bar .menu-depth-1 > a,
#block-multipurpose-corporate-theme-main-menu a.menu__link{
  text-transform: uppercase;
  padding: 33px 20px 34px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
#primary-menu-bar > nav > .menu > li > a:hover,
#menu-bar .menu-depth-1 > a:hover,
#block-multipurpose-corporate-theme-main-menu a.menu__link:hover {
  border-left-color: #e8e8e8;
  border-right-color: #e8e8e8;
}
#primary-menu-bar > nav > .menu > li > a:hover,
#menu-bar .menu-depth-1 > a:hover,
#primary-menu-bar > nav > .menu > li > a.active,
#menu-bar .menu-depth-1 > a.active,
#block-multipurpose-corporate-theme-main-menu li.menu__item--active-trail a,
#block-multipurpose-corporate-theme-main-menu a.menu__link:hover {
  color: #000;
}
#primary-menu-bar .menu .menu,
#menu-bar .menu .menu,
#block-multipurpose-corporate-theme-main-menu .menu .menu{
  position: absolute;
  padding: 10px 0 !important;
  width: auto !important;
  background: #fff;
  top: 80px;
  min-width: 190px;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
  box-shadow: inset 0px 0px 0px 1px rgba(232,232,232,1);
}
#primary-menu-bar .menu .menu a,
#menu-bar .menu .menu a,
#block-multipurpose-corporate-theme-main-menu .menu .menu a {
  padding: 5px 20px;
}
#primary-menu-bar .menu .menu a:hover,
#menu-bar .menu .menu a:hover,
#block-multipurpose-corporate-theme-main-menu .menu .menu a.menu__link:hover{
  background: #000;
  color: #fff;
}
.sidebar .form-text {
  width: 100%;
}
/* Drupal standart blocks END */

/* =Header BEGIN */
#header,
#menu-bar,
#primary-menu-bar {
  position: relative;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.3);
  z-index: 100;
}
#header {
  padding-top: 4px;
}
#header::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  top: 1px;
  left: 0;
  background: rgba(63,153,232,1);
  background: -moz-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(63,153,232,1)), color-stop(100%, rgba(30,201,124,1)));
  background: -webkit-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: -o-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: -ms-linear-gradient(left, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  background: linear-gradient(to right, rgba(63,153,232,1) 0%, rgba(30,201,124,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f99e8', endColorstr='#1ec97c', GradientType=1 );
}
#header #block-multipurpose-corporate-theme-branding,
#logo, .site-branding__logo-link, .site-branding__text,
#name-and-slogan {
  clear: none;
  width: auto;
  float: left;
  padding-bottom: 6px;
  line-height: 60px;
  vertical-align: middle;
}
#header .block-logo #logo .site-branding__logo-link{
  padding: 0;
}
.site-branding__logo-link {
  margin-right: 15px;
  margin-top: 8px;
}
#header .block-logo .content * {
  vertical-align: middle;
}
#header .block-logo img {
  max-width: 230px;
  max-height: 60px;
}
.sf-sub-indicator {
  display: none;
}
#block-mainnavigation ul,
#block-mainnavigation li,
#menu-bar .menu,
#menu-bar .menu li,
#primary-menu-bar .menu,
#primary-menu-bar .menu li {
  margin: 0;
  list-style: none;
}
#block-mainnavigation ul,
#menu-bar .menu,
#primary-menu-bar .menu {
  padding: 0 !important;
}
#block-mainnavigation li,
#menu-bar .menu li,
#primary-menu-bar .menu li {
  padding: 0;
}
#superfish-main a,
#primary-menu-bar .menu a,
#menu-bar .menu a,
#block-multipurpose-corporate-theme-main-menu a.menu__link{
  line-height: 1;
  font-size: 13px;
  color: #a6a6a6;
  text-decoration: none;
  display: block;
}
#superfish-main #menu-468-1.sf-depth-1 > a,
#menu .menu-mlid-468 > a {
  cursor: default;
  pointer-events: none;
}
#superfish-main #menu-468-1.sf-depth-1 > a:hover,
.path-frontpage #superfish-main #menu-468-1.active-trail.sf-depth-1 > a,
#menu .menu-mlid-468 > a:hover,
#menu .menu-mlid-468 > a.active {
  color: #a6a6a6;
}
#header .btn-mobile-menu {
  clear: none;
  width: auto;
  float: right;
  width: 50px;
  height: 35px;
  background: url(images/icon-mobile-menu.png) no-repeat 50% 50%;
  font-size: 0;
  cursor: pointer;
  margin-top: 22px;
}
#toggle-icon {
  margin-top: 5px;
  color: #000;
}
#header #toggle-icon:hover {
  color: #3f9ae8;
}
/* =Header END */

/* =Footer BEGIN */
.copyright,
.region-tertiary-content {
  background-color: #2b2d2f;
  color: #62676d;
}
.region-tertiary-content {
  padding-top: 35px;
}
.region-tertiary-content .region-inner {
  padding: 0;
}
.copyright {
  padding: 30px 0;
}
.region-tertiary-content .block {
  width: 25%;
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}
.about-this-theme,
#page-wrapper .region-tertiary-content .block__title {
  padding: 0;
  margin-bottom: 15px;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.region-tertiary-content .view-content,
body.path-frontpage .region-tertiary-content .view-content {
  padding: 0;
}
h2.block-title{
  margin-bottom: 15px;
}
.block__title {
  margin-bottom: 15px;
}
.about-this-theme {
  margin-bottom: 10px;
}
.field-label-above {
  margin-top: 20px;
}
.field-label-above ul,
.field-label-above li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.view-popular-tags a{
  color: #62676d;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #62676d;
  padding: 0 10px;
  margin: 0 10px 10px 0;
}
.view-popular-tags a:hover {
  color: #fff;
  background-color: #3d8fd6;
  border-color: #3d8fd6;
}

.block-config-provider--instagram-block img {
  margin: 0 !important;
}
#superfish-main-menu {
  display: block !important;
}
#superfish-main-menu,
#superfish-main-menu li {
  width: 100%;
}
#superfish-main-menu li {
  display: block;
  float: none;
  margin: 0;
  border-bottom: 1px solid #62676d;
  padding: 10px 0;
}
#superfish-main-menu li:last-child {
  border-bottom: none;
}
#superfish-main-menu a,
.copyright a {
  color: #3f9ae8;
  text-decoration: none;
  padding: 0;
  height: auto;
}
#superfish-main-menu a:hover,
.copyright a:hover {
  color: #fff;
}
#superfish-main-menu a {
  display: inline-block;
}
.region-footer {
  background-color: #202123;
}
.block-id--block-multipurpose-corporate-theme-block-3 {
  text-align: center;
}
.block-id--block-multipurpose-corporate-theme-block-3 .block__content a {
  font-size: 32px;
  line-height: 90px;
  text-align: center;
  color: #84888c;
  width: 85px;
  height: 90px;
  display: inline-block;
}
.block-id--block-multipurpose-corporate-theme-block-3 .block__content a:hover {
  color: #fff;
  background-color: #1ec97b;
}
/* =Footer BEGIN */


/* =Recent news BEGIN */
.block-id--block-block-views-recent-news-block {
  padding: 50px 0 100px;
}
.block-id--block-block-views-recent-news-block .block__title {
  margin-bottom: 45px;
}
.block-id--block-block-views-recent-news-block .views-field-field-news-image {
  width: 50%;
  float: left;
  margin-right: 40px;
}
.block-id--block-block-views-recent-news-block .views-field-field-news-image {
  display: block;
}
.block-id--block-block-views-recent-news-block .views-field-title {
  margin-bottom: 10px;
}
.block-id--block-block-views-recent-news-block .views-field-title a {
  font-size: 18px;
  font-weight: 700;
}
.views-field-body {
  color: #606060;
}
/* =Recent news END */

.owl-theme .owl-controls {
  margin: 0;
}
.owl-theme img {
  display: block;
}
.owl-theme .owl-controls .owl-buttons div {
  line-height: 0; 
  font-size: 0;
  color: transparent;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 26px;
  height: 41px;
  border-radius: 0;
  background: transparent;
}
.owl-theme .owl-prev {
  left: 0;
}
.owl-theme .owl-next {
  right: 0;
}
.view-secondary-slider .owl-controls .owl-buttons div {
  opacity: 1;
}
.view-secondary-slider .owl-buttons div:before {
  color: #fff;
  font-size: 41px;
  line-height: 1;
  position: absolute;
  top: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.owl-theme .owl-controls .owl-page {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 4px;
}
.owl-theme .owl-controls .owl-page:last-child {
  margin-right: 0;
}
.owl-theme .owl-controls .owl-page.active,
.owl-theme .owl-controls .owl-page:hover {
  background: rgba(255, 255, 255, 0.3);
}
.owl-theme .owl-controls .owl-page span {
  background: #fff;
  opacity: 1;
  height: 8px;
  width: 8px;
  margin: 3px;
}
.owl-theme .owl-controls .owl-page:hover span,
.owl-theme .owl-controls .owl-page.active span {
  background: #000;
}

.check-list,
.check-list li {
 margin: 0;
 padding: 0;
 list-style: none;
}
.check-list li {
  position: relative;
  padding-left: 40px;
}
.check-list li + li {
  margin-top: 25px;
}
#page .check-list li:before {
  line-height: 1;
  font-family: 'FontAwesome';
  content: '\f00c';
  font-size: 24px;
  color: #3f9ae8;
  position: absolute;
  left: 0;
  top: 0;
}

/* =Sidebar nav BEGIN */
#block-menu-block-2 .menu,
#block-menu-block-2 .menu li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#block-menu-block-2 .menu {
  text-align: right;
}
#block-menu-block-2 .content a {
  color: #62676d;
  text-transform: uppercase;
  text-decoration: none;
}
#block-menu-block-2 .content a.active {
  font-weight: 500;
  color: #3d8fd6;
}
#block-menu-block-2 .content a:hover {
  color: #3d8fd6;
}

/* =Sidebar nav BEGIN */

/* =Alerts BEGIN */
.alerts {
  position: relative;
  padding: 20px 20px 20px 55px;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.alerts:before {
  position: absolute;
  left: 20px;
  top: 17px;
  font-family: 'FontAwesome';
  line-height: 1;
  font-size: 24px;
}
.alerts-error {
  border-color: #cb5959;
  color: #cb5959;
  background-color: #ffcccc;
}
.alerts-error:before {
  content: '\f057';
}
.alerts-warning {
  border-color: #ecbd19;
  color: #ecbd19;
  background-color: #ffffcc;
}
.alerts-warning:before {
  content: '\f071';
}
.alerts-important {
  border-color: #86d073;
  color: #86d073;
  background-color: #d4ffc9;
}
.alerts-important:before {
  content: '\f058';
}
.alerts-attention {
  border-color: #7ba4cc;
  color: #7ba4cc;
  background-color: #d2e9ff;
}
.alerts-attention:before {
  content: '\f05a';
}
/* =Alerts END */

/* =Pricing tables BEGIN */
.pricing-tables .row {
  margin-left: -10px;
  margin-right: -10px;
}
.pricing-tables .col {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
.pricing-table {
  text-align: center;
  border: 1px solid #3d8fd6;
  border-radius: 10px;
  padding: 15px 15px 35px;
  max-height: 400px;
}
.pricing-table .price-block {
  margin-bottom: 25px;
}
.pricing-table .price {
  line-height: 1;
}
.price-plan,
.price-value {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
}
.price-value {
  font-weight: 700;
  color: #000;
}
.price-value .sub {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.pricing-table .view-more .btn {
  width: auto;
}
.about-us-img {
  float: left;
  width: 33.3333%;
  margin-right: 15px;
}
.about-us-img img {
  display: block;
}
.about-us-info .block-text-wrap {
  overflow: hidden;
}
.about-us-info .block__title {
  font-family: 'Roboto', sans-serif;
}
/* =Pricing tables END */

/* =About us page BEGIN */
article.node--id-3 {
  margin-bottom: 80px;
}
article.node--id-3 header.node__header{
  display:none;
}
/* =About us page END */

/* =Blog page BEGIN */
.view-blog .views-field-field-blog-image,
.view-blog .views-field-nothing {
  max-height: 400px;
  width: 48%;
  float: left;
}
.view-blog .views-field-field-blog-image img {
  display: block;
}
.view-blog .views-field-title,
.view-blog .views-field-title a,
.section-tags .node-title,
.section-tags .node-title a {
  font-size: 18px;
  font-weight: 700;
}
.view-blog .views-field-field-blog-image {
  margin-right: 4%;
}
.view-blog .views-row,
.section-tags .nodes .node {
  padding: 30px 0 50px;
  border-bottom: 1px solid #e8e8e8;
}
/* =Blog page END */

/* =Blog page post and portfolio item BEGIN */
.field-type-image {
  margin-bottom: 20px;
}
.field-type-image img {
  display: block;
}


/*----- =Slice END -----*/

/*------- RTL text fixes -------------*/

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  float: left;
}

/*------- RTL text fixes END -------------*/

.sf-menu-extended {
  padding-bottom: 20%;
}
